@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-black text-gray-100;
}

.c-scrollbar_thumb {
  @apply !bg-white;
}

[data-scroll-container] {
  perspective: 999999px !important;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background:red;
  transform-origin: 0%;
}
